In [189]:
import pandas as pd
import geopandas as gpd
import keplergl as kp

import json


import backoff

from random import choice
from datetime import time as dt_time
from pandarallel import pandarallel

pandarallel.initialize(progress_bar=True, nb_workers=10)

INFO: Pandarallel will run on 10 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

In [ ]:
GOOG_API_KEY = "AIzaSyCAKoDOl9SYXmIfBH7fpvgJG9nSUvsx7eY"

In [305]:
resta_insp_df = pd.read_csv(
    filepath_or_buffer= "data/raw/DOHMH_New_York_City_Restaurant_Inspection_Results.zip", # Not the same zip that came from the link
    compression="zip",
    usecols=["CAMIS","BORO", 'CUISINE DESCRIPTION', "BUILDING", "STREET", "ZIPCODE"],
    dtype={"CAMIS": int, "BORO":str, 'CUISINE DESCRIPTION':str, "BUILDING": str, "STREET": str, "ZIPCODE": str},
    skip_blank_lines=True,
    on_bad_lines="warn",
)

resta_insp_df.head(5)

      CAMIS           BORO BUILDING         STREET ZIPCODE CUISINE DESCRIPTION
0  40511702      MANHATTAN      635  SECOND AVENUE   10016             Italian
1  40511702      MANHATTAN      635  SECOND AVENUE   10016             Italian
2  50046354         QUEENS     2507       BROADWAY   11106             Italian
3  50061389  STATEN ISLAND      11C    HOLDEN BLVD   10314             Chinese
4  41516263       BROOKLYN     8015       5 AVENUE   11209            American

In [3]:
# remove duplicate address
uniq_addr_df = resta_insp_df.drop_duplicates(subset=["CAMIS"]).copy()

uniq_addr_df['full_addr'] = uniq_addr_df['BUILDING'] + ' ' + uniq_addr_df['STREET'] + ', New York, NY ' + uniq_addr_df['ZIPCODE'] + ', USA'

uniq_addr_df.head(5)

,CAMIS,BUILDING,STREET,ZIPCODE,full_addr
0,40511702,635,SECOND AVENUE,10016,"635 SECOND AVENUE, New York, NY 10016, USA"
2,50046354,2507,BROADWAY,11106,"2507 BROADWAY, New York, NY 11106, USA"
3,50061389,11C,HOLDEN BLVD,10314,"11C HOLDEN BLVD, New York, NY 10314, USA"
4,41516263,8015,5 AVENUE,11209,"8015 5 AVENUE, New York, NY 11209, USA"
5,50015855,4339,MAIN ST,11355,"4339 MAIN ST, New York, NY 11355, USA"

In [4]:
@backoff.on_exception(
    backoff.expo,
    exception=Exception,
    on_backoff=lambda details: print(
        f"Backing off {details['wait']}s after {details['tries']} tries"
    ),
    max_tries=10,
    on_giveup=lambda e: print(f"Give up: {e}"),
)
def get_lat_lon(addr):
    resp = gpd.tools.geocode(
        addr,
        provider=choice(
            [
                "googlev3"
                # "arcgis",
                # "banfrance",
                # "databc",
                # "ignfrance",
                # "nominatim",
                #  "openmapquest",
                # "photon",
            ]
        ),
        user_agent="nyc_taxi_rest",
        api_key=GOOG_API_KEY,
    )
    return resp.loc[0, "geometry"], resp.loc[0, "address"]

In [5]:
uniq_addr_df[['point', 'goog_address']] = uniq_addr_df['full_addr'].parallel_apply(get_lat_lon).to_list()

uniq_addr_df.head(5)

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=2651), Label(value='0 / 2651'))), â€¦

Backing off 0.7807078675102038s after 1 tries

In [49]:
uniq_addr_df.dropna(subset=['goog_addr'], inplace=True)
uniq_addr_df.head(5)

,CAMIS,BUILDING,STREET,ZIPCODE,full_addr,point,goog_addr,geometry
0,40511702,635,SECOND AVENUE,10016,"635 SECOND AVENUE, New York, NY 10016, USA",POINT (-73.9757772 40.7452948),"635 2nd Ave, New York, NY 10016, USA",POINT (-73.97578 40.74529)
2,50046354,2507,BROADWAY,11106,"2507 BROADWAY, New York, NY 11106, USA",POINT (-73.9733056 40.7931257),"2507 Broadway, New York, NY 10025, USA",POINT (-73.97331 40.79313)
3,50061389,11C,HOLDEN BLVD,10314,"11C HOLDEN BLVD, New York, NY 10314, USA",POINT (-74.12119729999999 40.60466690000001),"11 Holden Blvd, Staten Island, NY 10314, USA",POINT (-74.12120 40.60467)
4,41516263,8015,5 AVENUE,11209,"8015 5 AVENUE, New York, NY 11209, USA",POINT (-74.0241108 40.62527499999999),"8015 5th Ave, Brooklyn, NY 11209, USA",POINT (-74.02411 40.62527)
5,50015855,4339,MAIN ST,11355,"4339 MAIN ST, New York, NY 11355, USA",POINT (-73.8258187 40.7516302),"43-39 Main St, Flushing, NY 11355, USA",POINT (-73.82582 40.75163)

In [60]:
uniq_addr_df[['lat', 'lon']] = uniq_addr_df['point'].apply(lambda x: pd.Series([x.y, x.x]))

uniq_addr_df.drop(columns=['point'], inplace=True)
uniq_addr_df

,CAMIS,BUILDING,STREET,ZIPCODE,full_addr,goog_addr,lat,lon
0,40511702,635,SECOND AVENUE,10016,"635 SECOND AVENUE, New York, NY 10016, USA","635 2nd Ave, New York, NY 10016, USA",40.745295,-73.975777
2,50046354,2507,BROADWAY,11106,"2507 BROADWAY, New York, NY 11106, USA","2507 Broadway, New York, NY 10025, USA",40.793126,-73.973306
3,50061389,11C,HOLDEN BLVD,10314,"11C HOLDEN BLVD, New York, NY 10314, USA","11 Holden Blvd, Staten Island, NY 10314, USA",40.604667,-74.121197
4,41516263,8015,5 AVENUE,11209,"8015 5 AVENUE, New York, NY 11209, USA","8015 5th Ave, Brooklyn, NY 11209, USA",40.625275,-74.024111
5,50015855,4339,MAIN ST,11355,"4339 MAIN ST, New York, NY 11355, USA","43-39 Main St, Flushing, NY 11355, USA",40.751630,-73.825819
...,...,...,...,...,...,...,...,...
399028,50064356,209,W 57TH ST,10019,"209 W 57TH ST, New York, NY 10019, USA","209 W 57th St, New York, NY 10019, USA",40.765939,-73.980454
399279,50068112,2131,3RD AVE,10035,"2131 3RD AVE, New York, NY 10035, USA","2131 3rd Ave, New York, NY 10035, USA",40.798201,-73.939627
399280,50069080,329,W 51ST ST,10019,"329 W 51ST ST, New York, NY 10019, USA","329 W 51st St, New York, NY 10019, USA",40.763601,-73.986815
399539,50060461,802,56TH ST,11220,"802 56TH ST, New York, NY 11220, USA","802 56th St, Brooklyn, NY 11220, USA",40.637608,-74.007247
399864,50047786,22,W 32ND ST,10001,"22 W 32ND ST, New York, NY 10001, USA","22 W 32nd St, New York, NY 10001, USA",40.747589,-73.986913

In [61]:
uniq_addr_df.to_csv('data/proc/uniq_addr.csv.zip', index=False, compression='zip')

In [328]:
proc_df = pd.read_csv('data/proc/uniq_addr.csv.zip', compression='zip')

proc_df.head(5)

,CAMIS,BUILDING,STREET,ZIPCODE,full_addr,goog_addr,lat,lon,BORO,CUISINE DESCRIPTION
0,40511702,635,SECOND AVENUE,10016,"635 SECOND AVENUE, New York, NY 10016, USA","635 2nd Ave, New York, NY 10016, USA",40.745295,-73.975777,MANHATTAN,Italian
1,50046354,2507,BROADWAY,11106,"2507 BROADWAY, New York, NY 11106, USA","2507 Broadway, New York, NY 10025, USA",40.793126,-73.973306,QUEENS,Italian
2,50061389,11C,HOLDEN BLVD,10314,"11C HOLDEN BLVD, New York, NY 10314, USA","11 Holden Blvd, Staten Island, NY 10314, USA",40.604667,-74.121197,STATEN ISLAND,Chinese
3,41516263,8015,5 AVENUE,11209,"8015 5 AVENUE, New York, NY 11209, USA","8015 5th Ave, Brooklyn, NY 11209, USA",40.625275,-74.024111,BROOKLYN,American
4,50015855,4339,MAIN ST,11355,"4339 MAIN ST, New York, NY 11355, USA","43-39 Main St, Flushing, NY 11355, USA",40.751630,-73.825819,QUEENS,Pakistani

In [329]:
geo_res_df = gpd.GeoDataFrame(proc_df, geometry=gpd.points_from_xy(proc_df.lon, proc_df.lat, crs='epsg:4326'))
geo_res_df=geo_res_df.to_crs(epsg=32118)
geo_res_df.head(5)

,CAMIS,BUILDING,STREET,ZIPCODE,full_addr,goog_addr,lat,lon,BORO,CUISINE DESCRIPTION,geometry
0,40511702,635,SECOND AVENUE,10016,"635 SECOND AVENUE, New York, NY 10016, USA","635 2nd Ave, New York, NY 10016, USA",40.745295,-73.975777,MANHATTAN,Italian,POINT (302045.808 64254.577)
1,50046354,2507,BROADWAY,11106,"2507 BROADWAY, New York, NY 11106, USA","2507 Broadway, New York, NY 10025, USA",40.793126,-73.973306,QUEENS,Italian,POINT (302252.935 69566.211)
2,50061389,11C,HOLDEN BLVD,10314,"11C HOLDEN BLVD, New York, NY 10314, USA","11 Holden Blvd, Staten Island, NY 10314, USA",40.604667,-74.121197,STATEN ISLAND,Chinese,POINT (289742.322 48644.999)
3,41516263,8015,5 AVENUE,11209,"8015 5 AVENUE, New York, NY 11209, USA","8015 5th Ave, Brooklyn, NY 11209, USA",40.625275,-74.024111,BROOKLYN,American,POINT (297959.983 50926.648)
4,50015855,4339,MAIN ST,11355,"4339 MAIN ST, New York, NY 11355, USA","43-39 Main St, Flushing, NY 11355, USA",40.751630,-73.825819,QUEENS,Pakistani,POINT (314709.586 64972.457)

In [330]:
taxi_df = pd.read_csv(
    "data/raw/data.zip",
    usecols=["tpep_dropoff_datetime","passenger_count", "tip_amount", "trip_distance", "dropoff_longitude", "dropoff_latitude"],
    parse_dates=["tpep_dropoff_datetime"],
    compression="zip",
)

taxi_df['tpep_dropoff_datetime'] =taxi_df['tpep_dropoff_datetime'].dt.tz_convert('America/New_York') # convert to EST
print(taxi_df.dtypes)
taxi_df.head(5)

tpep_dropoff_datetime    datetime64[ns, America/New_York]
passenger_count                                     int64
trip_distance                                     float64
dropoff_longitude                                 float64
dropoff_latitude                                  float64
tip_amount                                        float64
dtype: object

,tpep_dropoff_datetime,passenger_count,trip_distance,dropoff_longitude,dropoff_latitude,tip_amount
0,2015-01-15 14:23:42-05:00,1,1.59,-73.974785,40.750618,3.25
1,2015-01-15 14:32:00-05:00,1,2.38,-73.983978,40.757889,4.38
2,2015-01-15 14:21:00-05:00,5,2.83,-73.955124,40.786858,0.00
3,2015-01-15 14:28:18-05:00,5,8.33,-73.952713,40.785782,8.08
4,2015-01-15 14:20:36-05:00,1,2.37,-73.980850,40.786083,0.00

In [331]:
# lunch is during 11:30am and 2pm
# dinner is during 5pm and 9pm.

def meal_label(dts):
    if dt_time(11, 30) <= dts.time() <= dt_time(14, 0):
        return "lunch"
    elif dt_time(17, 0) <= dts.time() <= dt_time(21, 0):
        return "dinner"
    else:
        return "other"

In [332]:
# lunchtime is between 11:30am and 2pm
taxi_df['meal'] = taxi_df['tpep_dropoff_datetime'].apply(meal_label)

taxi_df = taxi_df[taxi_df['meal'] != 'other']
taxi_df.head(5)

,tpep_dropoff_datetime,passenger_count,trip_distance,dropoff_longitude,dropoff_latitude,tip_amount,meal
242,2015-01-15 12:08:39-05:00,1,8.8,-73.870796,40.773926,11.20,lunch
248,2015-01-15 12:12:21-05:00,1,17.2,-73.778236,40.644943,10.00,lunch
338,2015-01-15 11:31:39-05:00,1,1.3,-73.964592,40.770149,3.95,lunch
340,2015-01-15 12:41:40-05:00,1,17.5,-73.776321,40.645363,11.60,lunch
341,2015-01-15 11:30:30-05:00,1,2.0,-74.005852,40.750015,2.55,lunch

In [333]:
geo_taxi_df = gpd.GeoDataFrame(taxi_df, geometry=gpd.points_from_xy(taxi_df.dropoff_longitude, taxi_df.dropoff_latitude), crs="EPSG:4326")
geo_taxi_df = geo_taxi_df.to_crs(epsg=32118)  #EPSG is very important in calculating distances
geo_taxi_df['tpep_dropoff_datetime']
geo_taxi_df.head(5)

,tpep_dropoff_datetime,passenger_count,trip_distance,dropoff_longitude,dropoff_latitude,tip_amount,meal,geometry
242,2015-01-15 12:08:39-05:00,1,8.8,-73.870796,40.773926,11.20,lunch,POINT (310907.594 67441.776)
248,2015-01-15 12:12:21-05:00,1,17.2,-73.778236,40.644943,10.00,lunch,POINT (318757.891 53134.211)
338,2015-01-15 11:31:39-05:00,1,1.3,-73.964592,40.770149,3.95,lunch,POINT (302989.373 67014.953)
340,2015-01-15 12:41:40-05:00,1,17.5,-73.776321,40.645363,11.60,lunch,POINT (318919.750 53181.220)
341,2015-01-15 11:30:30-05:00,1,2.0,-74.005852,40.750015,2.55,lunch,POINT (299505.808 64778.512)

In [334]:
# join geo_taxi and geo_restaurant data

comb_df = geo_taxi_df.sjoin_nearest(geo_res_df, max_distance=50, distance_col='dist')
comb_df.head(5)

,tpep_dropoff_datetime,passenger_count,trip_distance,dropoff_longitude,dropoff_latitude,tip_amount,meal,geometry,index_right,CAMIS,BUILDING,STREET,ZIPCODE,full_addr,goog_addr,lat,lon,BORO,CUISINE DESCRIPTION,dist
338,2015-01-15 11:31:39-05:00,1,1.30,-73.964592,40.770149,3.95,lunch,POINT (302989.373 67014.953),17814,50002506,725,PARK AVE,10021,"725 PARK AVE, New York, NY 10021, USA","725 Park Ave, New York, NY 10021, USA",40.769851,-73.964323,MANHATTAN,Asian,40.150588
12957,2015-01-15 18:53:32-05:00,1,0.30,-73.964729,40.769615,0.00,dinner,POINT (302977.802 66955.642),17814,50002506,725,PARK AVE,10021,"725 PARK AVE, New York, NY 10021, USA","725 Park Ave, New York, NY 10021, USA",40.769851,-73.964323,MANHATTAN,Asian,43.110574
21280,2015-01-15 17:50:12-05:00,1,1.48,-73.964539,40.770241,1.70,dinner,POINT (302993.878 67025.122),17814,50002506,725,PARK AVE,10021,"725 PARK AVE, New York, NY 10021, USA","725 Park Ave, New York, NY 10021, USA",40.769851,-73.964323,MANHATTAN,Asian,46.959409
23497,2015-01-15 13:34:20-05:00,1,1.18,-73.964439,40.770107,0.00,lunch,POINT (303002.257 67010.299),17814,50002506,725,PARK AVE,10021,"725 PARK AVE, New York, NY 10021, USA","725 Park Ave, New York, NY 10021, USA",40.769851,-73.964323,MANHATTAN,Asian,30.114500
25969,2015-01-15 17:26:16-05:00,4,1.42,-73.964462,40.770012,1.00,dinner,POINT (303000.329 66999.708),17814,50002506,725,PARK AVE,10021,"725 PARK AVE, New York, NY 10021, USA","725 Park Ave, New York, NY 10021, USA",40.769851,-73.964323,MANHATTAN,Asian,21.385366

In [335]:
df_map = kp.KeplerGl(height=850, width=650)
df_map.add_data(data=comb_df, name="NYC Taxi Restaurant Inspections")
df_map.config = json.load(open("data/settings/kepler_config.json", "r"))
df_map

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [], 'layers': [{'id': 'rurmdio', 'type': â€¦

In [336]:
# with open('data/settings/kepler_config.json', 'w') as f:
#     f.write(json.dumps(df_map.config, indent=2))

In [337]:
comb_piv = comb_df.pivot_table(
    index="meal",
    columns=["BORO", "CUISINE DESCRIPTION"],
    values=["tip_amount"],
    aggfunc='sum',
    margins=True,
)
comb_piv

                    tip_amount                                             \
BORO                     BRONX
CUISINE DESCRIPTION    African American Bakery CafÃƒÂ©/Coffee/Tea Caribbean
meal
dinner                     0.0    38.89    0.0              0.0     18.65
lunch                      NaN     0.00    NaN              NaN       NaN
All                        0.0    38.89    0.0              0.0     18.65

                                               \
BORO
CUISINE DESCRIPTION Chinese Donuts Hamburgers
meal
dinner                10.78    NaN       2.35
lunch                   NaN    0.0       0.00
All                   10.78    0.0       2.35

                                                                                      \
BORO
CUISINE DESCRIPTION Latin (Cuban, Dominican, Puerto Rican, South & Central American)
meal
dinner                                                             5.0
lunch                                                              0.0
All                                                                5.0

                             ...                                             \
BORO                         ...  QUEENS
CUISINE DESCRIPTION Mexican  ... Spanish Steak Tapas Tex-Mex   Thai Turkish
meal                         ...
dinner                  7.5  ...   16.97  12.3   NaN     6.0  28.48     9.4
lunch                   NaN  ...   11.15   NaN   0.0     NaN   0.00     NaN
All                     7.5  ...   28.12  12.3   0.0     6.0  28.48     9.4

                                                                            \
BORO                                              STATEN ISLAND
CUISINE DESCRIPTION Vietnamese/Cambodian/Malaysia       Mexican Sandwiches
meal
dinner                                       8.38          21.8       15.6
lunch                                         NaN           NaN        NaN
All                                          8.38          21.8       15.6


BORO                      All
CUISINE DESCRIPTION
meal
dinner               26595.58
lunch                20279.79
All                  46875.37

[3 rows x 205 columns]

In [382]:
comb_df.groupby(["CUISINE DESCRIPTION"]).agg({"trip_distance": "sum"}).apply(lambda x: 100 * x / x.sum()).sort_values(by="trip_distance", ascending=False)

                     trip_distance
CUISINE DESCRIPTION
American                 34.455400
CafÃƒÂ©/Coffee/Tea          9.406846
Italian                   5.323287
Other                     4.568627
Japanese                  3.317175
...                            ...
Creole                    0.010099
Egyptian                  0.008053
Iranian                   0.003699
Californian               0.003213
Afghan                    0.002571

[81 rows x 1 columns]

In [390]:
test = comb_df.groupby(['BORO', "CUISINE DESCRIPTION"]).agg({"trip_distance": "sum"})
test['perc'] = test.groupby(level=0, group_keys=False).apply(lambda x: 100 * x / x.sum())
test.groupby('BORO')['perc'].nlargest(5)

BORO           BORO           CUISINE DESCRIPTION
BRONX          BRONX          American                                                   16.026228
                              Spanish                                                    13.070076
                              Chinese                                                    12.374080
                              Pizza                                                      10.797099
                              Caribbean                                                  10.430785
BROOKLYN       BROOKLYN       American                                                   32.761285
                              CafÃƒÂ©/Coffee/Tea                                            8.797314
                              Chinese                                                     5.869668
                              Italian                                                     5.219513
                              Other                                                       3.931698
MANHATTAN      MANHATTAN      American                                                   35.370678
                              CafÃƒÂ©/Coffee/Tea                                            9.854437
                              Italian                                                     5.653252
                              Other                                                       4.603794
                              Japanese                                                    3.497830
QUEENS         QUEENS         American                                                   27.679602
                              Sandwiches/Salads/Mixed Buffet                              7.613075
                              Bottled beverages, including water, sodas, juices, etc.     7.594807
                              CafÃƒÂ©/Coffee/Tea                                            5.497618
                              Hamburgers                                                  5.338427
STATEN ISLAND  STATEN ISLAND  Sandwiches                                                 53.466287
                              Mexican                                                    46.533713
Name: perc, dtype: float64

In [ ]:
test = comb_df.groupby(['BORO', "CUISINE DESCRIPTION"]).agg({"trip_distance": "sum"})
test['perc'] = test.groupby(level=0, group_keys=False).apply(lambda x: 100 * x / x.sum())
test.groupby('BORO')['perc'].nlargest(5)